[user]
	name = alexander
	email = duanhjlt@163.com
[push]
    default = matching
[core]
	excludesfile = ~/.gitignore_global
    compression = -1
[http]
	postBuffer = 524288000
[credential]
	helper = cache
